Redirect /download/ https://labanquise.insa-rouen.fr/projects/agentslang/
Redirect /source/ https://labanquise.insa-rouen.fr/projects/agentslang/
Redirect /contact/ http://agent.roboslang.org/explore/team/

